
.mainFxmlClass {

   
    
}

#loginBg{
    
    -fx-background-image: url("../images/login-bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    
}

#loginBtn{
    
    -fx-text-fill:#fff;
    -fx-background-color: #f3c623;
    
    
}